<!-- <p>{{title}}</p>
<h1 [class.text-css]="bool">Text css</h1>
<h2 [style.color]="bool ? 'red' : 'blue'">text dom style</h2>
 <p>{{parentMessage}}</p> 
<app-sidebar></app-sidebar>
<app-post [fromParent]='parentMessage' (messageEvent)='reciveMessage($event)' ></app-post>
<p>App received from Post: {{message}}</p>
<p>{{fromChildOuput}}</p>
 <button (click)="buttonClick()">Click Me</button>

<input type="text" (keyup.enter)="onKeyup(username.value)" #username>

<input type="text" [value]="textValue" (keyup.enter)="onKeyup()"><br>
<input type="text" [(ngModel)]="textValue"> -->

<div class="form-area">
  <h1>Post Form</h1><br><br>
  <input type="text" placeholder="Post Title"><br><br>
  <textarea name="" id="" cols="30" rows="10" placeholder="Post Details"></textarea><br><br>
  <input type="text" placeholder="Post Image URL"><br><br>
  <input type="text" placeholder="Post URL"><br><br>
  <input type="checkbox">Add Background <br><br>
</div>